# Directories #
################################################################################
bin
build
include
libs
/**/x64
/**/GeneratedFiles

# Files #
################################################################################
*.qmake.stash
/**/Makefile*
/**/*.suo
/**/*.db
/**/*.vcxproj.*
/**/*.vcxproj
/**/*.sln
*pro.user
/**/_script/*.*
!/**/_script/net_test.bat
!/**/_script/net_test.sh