# Directories #
################################################################################
bin
#include
libs
/**/release
/**/debug
/**/moc
/**/x64

# Files #
################################################################################
*.qmake.stash
/**/Makefile*
/**/*.suo
/**/*.db
/**/*.vcxproj.*
*pro.user
/**/_script/*.*
!/**/_script/net_test.bat
!/**/_script/net_test.sh